@import '../styles/variables.scss';

.game-board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  blue;
    padding: 1em;
}

.game-board {
    border: $mediumborder solid $blackColor;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
}