@import '../styles/variables.scss';

.game-board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid  blue;
    padding: 1em;
}

.game-board {
    border: $mediumBorder solid $blackColor;
}

.game-board-hole {
    background-color: $greyColor;
    border: $thinBorder solid $whiteColor;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    padding: 6px;
    border: 5px solid green;
}