.game-over-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(11, 38, 82, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.game-over-title {
  font-size: 72px;
  font-weight: 800;
  color: white;
  user-select: none;
}

.game-over-final-score {
  font-size: 32px;
  font-weight: 600;
  color: white;
  user-select: none;
}
