// Colors
$blackColor: #0E0B0D;
$brownColor: #260505;
$greyColor: #EEEBED;
$pinkColor: #FA13AD;
$whiteColor: #FFFFFF;

// Fonts


//Screen Size
$smallScreenWidth: 700px;


// Component Size
$smallHoleSize: 30px;
$bigHoleSize: 50px;


// Border Size
$thinBorder: 1px;
$mediumBorder: 2px;
$thickBorder: 3px;