@import '../../styles/variables.scss';

.game-board-wrapper {
    border: 3px solid  yellow;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    border: $mediumBorder solid $blackColor;
}

.board-empty-hole {
    background-color: $greyColor;
    border: $thinBorder solid $whiteColor;
}

.board-fill-hole {
    background-color: $pinkColor;
    border: $thinBorder solid $blackColor;
}

.board-fillable-hole {
    background-color: $darkGrayColor;
    border: $thinBorder solid $whiteColor;
}
