@import '../../styles/variables.scss';

.shape-wrapper {
    display: inline-grid;
}

.filled-hole {
    background-color: $pinkColor;
    border: $mediumBorder solid $blackColor;
    margin-top: -$mediumBorder;
    margin-left: -$mediumBorder;
}

.empty-hole {
    background-color: transparent;
    border: $mediumBorder solid transparent;
    margin-top: -$mediumBorder;
    margin-left: -$mediumBorder;
}
